doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href="https://unpkg.com/7.css")
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
    body.win7
        block content
    script(src="/js/window.js")
    script(src='/js/tabs.js')