body {
  overflow:hidden
}

.window {
  position: absolute !important;
  max-height: 70%;
}
.window>.window-body {
  max-height: 100%;
  overflow-y: auto;
}
.window>.title-bar {
  cursor: move;
}

.title-bar>.title-bar-controls {
  pointer-events: none;
}

.window.active .title-bar .title-bar-controls button[aria-label=Close]:disabled {
  background: unset !important;
}
