body {
  overflow:hidden
}

.window {
  position: absolute !important;
}
.window>.title-bar {
  cursor: move;
}
.window.active .title-bar .title-bar-controls button[aria-label=Close]:disabled {
  background: unset !important;
}
