button.statusBtn {
    margin-top: 2px;
}
[role=button].statusBtn.focused, [role=button].statusBtn:focus, button.statusBtn.focused, button.statusBtn:focus {
    box-shadow: unset;
    outline: unset;
    outline-offset: unset;
}

fieldset:disabled > :nth-child(n) {
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
}
div.preview {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div.preview > .img {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.7);
    overflow: hidden;
}
div.preview > .img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.disabled {
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
}